<a href="https://colab.research.google.com/github/Malhar002/Exposys-Data-Labs-Internship/blob/main/DiabetesProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Depenndencies**

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.preprocessing import StandardScaler

In [7]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

**Printing first five rows of our Dataset**

In [8]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
diabetes_dataset.shape

(768, 9)

**Printing Statistical Data**

In [10]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [12]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [13]:
X = diabetes_dataset.drop(columns='Outcome', axis = 1)
# Here it will generate a warining as we are trying to fit dataframe instead of a numpy array,
# although it will perform the desired operation for it is just a warning not an error.
# But for professionalism and neatness in our model we need to eliminate all warnings and errors as possible
# So, here is what I found from Stack Overflow, it will create a numpy array of the dataframe X
# OR we can modify each line of code from the functions fit() and predict() to X.values
X = X.values
Y = diabetes_dataset['Outcome']

In [14]:
print(X)
print(Y)

[[  6.    148.     72.    ...  33.6     0.627  50.   ]
 [  1.     85.     66.    ...  26.6     0.351  31.   ]
 [  8.    183.     64.    ...  23.3     0.672  32.   ]
 ...
 [  5.    121.     72.    ...  26.2     0.245  30.   ]
 [  1.    126.     60.    ...  30.1     0.349  47.   ]
 [  1.     93.     70.    ...  30.4     0.315  23.   ]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

**Data Standardization**

In [15]:
scaler = StandardScaler()

In [16]:
standardized_data = scaler.fit_transform(X)

In [17]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [18]:
X = standardized_data
Y = diabetes_dataset['Outcome']

**Seperating training and testing data**

In [19]:
# stratify is used to avoid merging of diabetic and non-diabetic dataset in X and Y
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1, stratify = Y, test_size = 0.2)

In [20]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

**Training the Data**

In [21]:
classifier = svm.SVC(kernel = 'linear')

In [22]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [23]:
X_train_prediction = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction, Y_train)

In [24]:
print(X_train_accuracy)

0.7833876221498371

In [25]:
X_test_prediction = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_prediction, Y_test)

In [26]:
print(X_test_accuracy)

0.7792207792207793

**Making a productive Machine**

In [30]:
# Takinng the data from the user excluding the outcome column
input_data = (1,85,66,29,0,26.6,0.351,31)
# Converting the tuple format of input into a numpy array
input_as_numpy_array = np.asarray(input_data)
# To make just a single instance out of 768 count of the dataframe we are reshaping the input data
input_data_reshaped = input_as_numpy_array.reshape(1, -1)
# As we have used standardized data for training and testing we need the input data standardized as well
std_input = scaler.transform(input_data_reshaped)

print(std_input)

# This reshaped and standardized data can now be used for predicting the blood glucose level
prediction = classifier.predict(std_input)
print(prediction)

if (prediction[0] == 0):
  print("The person has Diabetes, avoid sugar!")
else:
  print("The person doesn't have Diabetes, Enjoy your extra sugar!")

[[-0.84488505 -1.12339636 -0.16054575  0.53090156 -0.69289057 -0.68442195
  -0.36506078 -0.19067191]]
[0]
The person has Diabetes, avoid sugar!